header
  nav.nav__top
    a.nav__top--logo(href="/") CyQuest v7
    ul.nav__top--list
      
      if user
        li: a(href="/leaderboard") Leaderboard
        li: a(href="/play") Play 
        li: .logout(onclick='checkLogout()')= `@${user.username}`
      else 
        li: a(href="/login") Login
        li: a(href="/signup") Sign Up

